* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "jona-font";
  src: url(../assets/fonts/RobotoCondensed-Regular.ttf);
}
* {
  font-family: "jona-font";
}

header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 3rem;
}
header .calidad {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 31.25rem;
  text-align: center;
  margin: auto;
  margin-top: -3.125rem;
}
header .calidad h1 {
  color: #f18130;
  font-size: 4rem;
  font-weight: bold;
}
header .calidad p {
  color: #ffffff;
  font-size: 1.5rem;
}
header nav {
  width: 100%;
  height: 50rem;
  background: #1488CC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, hsla(237, 61%, 43%, 0.705), hsla(202, 82%, 44%, 0.699)), url(../assets/img/imagennav.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, hsla(237, 61%, 43%, 0.705), hsla(202, 82%, 44%, 0.699)), url(../assets/img/imagennav.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
}
header nav .navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
header nav .navbar li {
  margin-top: 1rem;
  list-style-type: none;
}
header nav .navbar li a {
  text-decoration: none;
  color: #ffffff;
}
header nav .navbar li a:hover {
  color: #ff4800;
}
header nav .logo-nav {
  margin-top: -2rem;
  margin-left: 2rem;
}
header nav .logo-nav img {
  height: 12.5rem;
  width: 25rem;
}
header nav .waves {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.menu-desplegable {
  display: none;
}

.main-index {
  /*-------------CIRCLE AND TEXT-1----------------*/
  /*-------------CIRCLE AND TEXT-2----------------*/
  /*-------------CIRCLE AND TEXT-3------------*/
}
.main-index .quienes-somos {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 37.5rem;
  align-items: center;
  margin: auto;
  margin-bottom: 5rem;
}
.main-index .quienes-somos h2 {
  margin-bottom: 2rem;
}
.main-index .servicios-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5rem;
}
.main-index .servicios-container .circulos-servicios {
  margin-right: 2rem;
}
.main-index .servicios-container .circulos-servicios .circulo-s {
  position: absolute;
  height: 12.5rem;
  width: 12.5rem;
  background-color: #463BC8;
  border-radius: 100%;
}
.main-index .servicios-container .circulos-servicios .circulo-s2 {
  position: relative;
  height: 12.5rem;
  width: 12.5rem;
  background-image: url(../assets/img/nuestrosservicios.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  overflow: hidden;
  left: 1.875rem;
  top: 0.625rem;
}
.main-index .servicios-container .tenemos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 56.25rem;
  margin: 1rem;
}
.main-index .servicios-container .tenemos h3 {
  color: rgb(53, 53, 53);
  text-align: center;
}
.main-index .servicios-container .tenemos p {
  max-width: 25rem;
}
.main-index .buscando-container {
  flex-wrap: wrap;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-index .buscando-container .buscando {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-index .buscando-container .buscando h3 {
  color: rgb(53, 53, 53);
}
.main-index .buscando-container .buscando p {
  max-width: 25rem;
}
.main-index .buscando-container .circulos-buscando {
  margin-left: 2rem;
}
.main-index .buscando-container .circulos-buscando .circulo-o {
  position: absolute;
  height: 12.5rem;
  width: 12.5rem;
  background-color: #EABB42;
  border-radius: 100%;
}
.main-index .buscando-container .circulos-buscando .circulo-o2 {
  position: relative;
  height: 12.5rem;
  width: 12.5rem;
  background-image: url(../assets/img/ofertaslaborales.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  overflow: hidden;
  right: 1.875rem;
  top: 0.625rem;
}
.main-index .trabaja-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.main-index .trabaja-container .circulos-trabaja {
  margin-right: 2rem;
}
.main-index .trabaja-container .circulos-trabaja .circulo-t {
  position: absolute;
  height: 12.5rem;
  width: 12.5rem;
  background-color: #79CD78;
  border-radius: 100%;
}
.main-index .trabaja-container .circulos-trabaja .circulo-t2 {
  position: relative;
  height: 12.5rem;
  width: 12.5rem;
  background-image: url(../assets/img/trabajaconnos.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  overflow: hidden;
  left: 1.875rem;
  top: 0.625rem;
}
.main-index .posiciona {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-index .posiciona h3 {
  color: rgb(53, 53, 53);
}
.main-index .posiciona p {
  max-width: 25rem;
}
.main-index .contacto-container {
  margin-bottom: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.main-index .contacto-container .circulos-contacto .circulo-c {
  position: absolute;
  height: 12.5rem;
  width: 12.5rem;
  background-color: #45D4CC;
  border-radius: 100%;
}
.main-index .contacto-container .circulos-contacto .circulo-c2 {
  position: relative;
  height: 12.5rem;
  width: 12.5rem;
  background-image: url(../assets/img/contactus.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  overflow: hidden;
  left: 1.875rem;
  top: 0.625rem;
}
.main-index .contacto-container .contact-us {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #f44336;
  margin-left: 1.5rem;
}
.main-index .contacto-container .contact-us a {
  text-decoration: none;
  color: #FFFFFF;
}
.main-index .contacto-container .contact-us a:hover {
  color: #45D4CC;
}

.footer {
  height: 31.25rem;
  background-color: #181445;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .f-logo {
  width: 12.5rem;
  height: 12.5rem;
}
.footer .redes-footer-container ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
  margin-left: -1.5rem;
}
.footer .servicios-footer-container li {
  list-style-type: none;
}
.footer .servicios-footer-container li a {
  text-decoration: none;
  color: #ffffff;
}
.footer .servicios-footer-container li a:hover {
  color: #ff4800;
}
.footer .prueba-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13rem;
}
.footer .container-contacto-f {
  color: #ffffff;
}

.derechos {
  display: flex;
  justify-content: center;
  margin-top: -2rem;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
