header{
    position: relative;
    margin-bottom: 3rem;
    .calidad{
        max-width: 31.25rem;
        text-align: center;
        margin: auto;
        margin-top: -3.125rem;
        h1{
            color: $keywords;
            font-size: 4rem;
            font-weight: bold;
        }
        p{
            color: $white;
            font-size: 1.5rem;
        }
    }
    nav {
        width: 100%;
        height: 50rem;
        background: #1488CC;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, hsla(237, 61%, 43%, 0.705), hsla(202, 82%, 44%, 0.699)), url(../assets/img/imagennav.jpg);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, hsla(237, 61%, 43%, 0.705), hsla(202, 82%, 44%, 0.699)), url(../assets/img/imagennav.jpg);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-attachment: fixed;
        // position: relative;
        .navbar{
            @include flex (row,center,unset,wrap);
            gap: 2rem;
            li{
                margin-top: 1rem;
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: $white;
                    &:hover{
                        color: $hovers;
                    }
                }
            }
        }
        .logo-nav{
            margin-top: -2rem;
            margin-left: 2rem;
            img{
                height: 12.5rem;
                width: 25rem;
            }
        }
        .waves{
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
}
.menu-desplegable{
    display: none;
}